@import '../media.css';

.toc {
    position: fixed;
    z-index: 2;
    top: 50px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: var(--toc-width);
    background: var(--bg-primary);
}

@media (--desktop-window) {
    .toc {
        z-index: 1;
        top: 40px;
        bottom: 40px;
        justify-content: center;
    }
}

.toc-level {
    margin: 0;
    padding: 0 20px 0 20px;
    list-style: none;
}

.toc-level-1 {
    max-height: 100%;
    overflow: auto;
}

.toc > .toc-level {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (--desktop-window) {
    .toc > .toc-level {
        border-left: 1px solid var(--text-fill-02);
    }
}

[class].toc-link {
    display: block;
    padding: 10px 0;
    color: inherit;
    text-decoration: none;
    text-wrap: balance;
    line-height: 1;

    &:hover {
        text-decoration: underline;
    }
}

@media (--desktop-window) {
    [class].toc-link {
        padding: .2em 0;
    }

    .toc-level-1 {
        position: relative;
    }

    .toc-level-1::before {
        position: absolute;
        content: '';
        top: var(--top);
        left: -2px;
        bottom: var(--bottom);
        width: 3px;
        background-color: var(--accent);
        transition: .1s ease-out;
        transition-property: top, bottom;
    }
}
