@import '../media.css';

.toc {
    position: fixed;
    z-index: 1;
    top: 40px;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: var(--toc-width);
    background: var(--bg-primary);
}

@media (--desktop-window) {
    .toc {
        bottom: 40px;
        justify-content: center;
    }
}

.toc-level {
    margin: 0;
    padding: 0 20px 0 20px;
    list-style: none;
}

.toc > .toc-level {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (--desktop-window) {
    .toc > .toc-level {
        border-left: 1px solid var(--text-fill-02);
    }
}

[class].toc-link {
    display: block;
    padding: 10px 0;
    color: inherit;
    text-decoration: none;
    text-wrap: balance;

    &:hover {
        text-decoration: underline;
    }
}

@media (--desktop-window) {
    [class].toc-link {
        position: relative;
        padding: .2em 0;

        &::before {
            position: absolute;
            content: '';
            top: 0;
            left: -22px;
            bottom: 0;
            width: 3px;
            background-color: var(--accent);
            transition: opacity .3s ease-in-out;
            opacity: 0;
        }
    }

    [class].toc-link_active::before {
        opacity: 1;
    }

    [class].toc-link-h3::before {
        left: -42px;
    }

    [class].toc-link-h4::before {
        left: -62px;
    }

    [class].toc-link-h5::before {
        left: -82px;
    }

    [class].toc-link-h6::before {
        left: -102px;
    }
}
