---
title: "Маркировка контента, сделанного с помощью ИИ"
description: "Маркировка постепенно становится обязательной. Поговорим про текущие предложения и затронем причины такой маркировки"
date: 2026-02-28
tags:
    - html
    - ai
---

## Необходимость маркировки контента

ИИ живёт в нашей жизни, и всё больше людей его используют на ежедневной основе, будь то перевод текста, генерация поздравлений или подсказки по юридическим вопросам (проверяйте информацию, которую выдаёт ИИ!).

Как и со всеми вещами, которые влияют на человеческий социум так сильно, про ИИ начинают принимать законы и вводится регулирование. Европейский союз ввёл свой закон об искусственном интеллекте, меры из которого начинают применяться постепенно. Одна из них – обязательная маркировка контента, вступает в силу в августе 2026го года. Речь в том числе и о контенте веб-страниц. Сейчас в законе не прописан точный способ маркировки, эта информация появится ближе к июню.

Другая сторона медали – обучение ИИ. Для этого уже использовано большинство доступных источников "качественного" контента, которые были созданы человеком. Уже сейчас ИИ обучается поверх данных, которые либо были созданы ИИ, либо созданы с его участим. Поэтому стоит вопрос о разделении и маркировке.

Поисковые системы тоже хотят учитывать факт того, что ИИ был задействован для создания содержимого сайта. Кто-то даже предполагает, что поисковые системы будут пессимизировать такой контент. Однако прямо сейчас как будто этого не происходит.

Одна из причин для подобной маркировки – "галлюцинации" ИИ, которые могут приводить к несуществующим фактам. Есть мнение, что существующий на данный момент ИИ скорее выдаст неправду и небылицу, чем честно признается, что не знает чего-то. Вопрос о доверии к контенту встаёт, как никогда раньше.

И наконец, люди. Простой потребитель всё чаще желает знать, использовался ли ИИ для той или иной задачи. Говорит ли он сейчас с живым человеком? Является ли видео сгенерированным? Подобные вопросы появляются у людей каждый день.

Давайте посмотрим, какие предложения по разметке использования ИИ  есть для веба.

## Микроразметка

Микроразметка сайтов может использоваться для помощи поисковым системам. Она может содержать информации об авторах, товарах и ценах и многом другом.

С помощью подобной разметки можно рассказать и про использование ИИ:

```html
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  ...
  "isBasedOn": {
    "@type": "CreativeWork",
    "name": "GPT-4o",
    "url": "https://openai.com"
  }
}
</script>
```

Существует и HTML-аналог подобной разметки, тут приведён JSON только для примера.

Поисковые системы поддерживают `isBasedOn`, однако распознавание ИИ в нём под вопросом.

## Заголовок

С помощью [предложенного http-заголовка](https://www.ietf.org/archive/id/draft-abaris-aicdh-00.html) `AI-Disclosure` можно разметить HTML-страницы:

```
AI-Disclosure: mode=ai-originated;
    model="gpt-4";
    provider="OpenAI";
    reviewed-by="editorial-team";
    date=@1745286896
```

`mode` позволяет задать степень влияния ИИ:

* `machine-generated`. Полностью сгенерированный контент (возможно, с минимальными правками)
* `ai-originated`. Переработанный или отрецензирован человеком контент, созданный ИИ
* `ai-modified`. Человеческий контент с правками от ИИ
* `none`. Полностью созданный человеком контент

## Метатеги

Есть как существующий метатег, так и предложения по добавлению новых.

Например, можно использовать существующее значение `author`:

```html
<meta name="author" content="AI">
```

Если авторов несколько, можно указать несколько метатегов.

Один из [предлагаемых](https://github.com/whatwg/html/issues/9479) вариантов метатега выглядит так:

```html
<!-- Основная часть сделана ИИ -->
<meta name="ai-generated" content="all">

<!-- ИИ создал только часть контента -->
<meta name="ai-generated" content="partially">

<!-- ИИ не использовался -->
<meta name="ai-generated" content="none">
```

Также обсуждаются варианты, которые позволят промаркировать использование конкретного ИИ.

## Атрибут

Есть и [предложение](https://github.com/dweekly/ai-content-disclosure) по добавлению атрибута, чем-то похожим на `lang`:

```html
<div ai-disclosure="ai-assisted">
    ...
</div>
```

Использование атрибута решает проблему метатегов и заголовка: их можно применить к разным частям страницы. Например, блок с суммаризацией разметить одним образом, а реальный человеческий текст – другим.

Предложен атрибут со следующими значениями:

* `autonomous`. Полностью создано ИИ, без человеческих правок
* `ai-generated`. Контент создан ИИ, человек отредактировал или отрецензирован
* `ai-assisted`. Контент создан человеком, ИИ отредактировал
* `none`. ИИ не использовался

Есть и предложение аналогичного метатега:

```html
<meta name="ai-disclosure" content="none">
```

В указанном предложении есть и дополнительные атрибуты, которые позволят указать конкретную модель, провайдера модели и способ получения контента (промпт / документация).

## Итого

Приведённые выше варианты – лишь предложения! Не стоит их рассматривать как уже принятые решения, которые стоит применять на ежедневной основе.

Часть законов уже принята (и скоро начнёт действовать), и речь не только про Европейский Союз, другие страны тоже подтягиваются. Весьма вероятно, что подобная маркировка станет общепринятой и обязательной. Нужно держать руку на пульсе – индустрия развивается стремительно.

Не стоит забывать и о том, что в законах речь может идти не только о технической маркировке, как, например, HTTP-заголовок, но и маркировке для пользователей. Сгенерированный контент может требовать человекочитаемой подписи про ИИ, чаты с ИИ могут требовать соответствующего предупреждения и так далее.

В мире, где скоро большая часть контента будет создана ИИ, разделять источник и своё доверие станет очень важно.
